@import "tailwindcss";

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-neon-ice: #21F1ED;
    --color-hot-fuchsia: #F72D55;
    --color-dark-cyan: #159592;
    --color-bubblegum-pink: #EC5775;
    --color-carbon-black: #1E2124;
    --color-ash-black: #0F1112;
    --color-void-black: #090A0B;
    --color-carbon-gray: #3F3F3F;
    --color-carbon-light-gray: #424242;
    --color-golden: #FFAB25;
    --color-discord-blue: #5865F2;

    --font-sans: "Plus Jakarta Sans Variable", "Plus Jakarta Sans", sans-serif;
    --font-mono: "JetBrains Mono", monospace;

    --animate-marquee-right: marqueeRight 75s linear infinite;
    --animate-marquee-right2: marqueeRight2 75s linear infinite;
    --animate-marquee-left: marqueeLeft 75s linear infinite;
    --animate-marquee-left2: marqueeLeft2 75s linear infinite;

    @keyframes marqueeRight {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0%);
        }
    }
    @keyframes marqueeRight2 {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(100%);
        }
    }

    @keyframes marqueeLeft {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    @keyframes marqueeLeft2 {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0%);
        }
    }
}
