DB_URL= # ws://sqld:8080

DISCORD_TOKEN= # discord bot token
DISCORD_CLIENT_ID= # application id for the development bot
DISCORD_CLIENT_ID_PRODUCTION= # application id for the public bot

POSTHOG_PUBLIC_KEY= # starts with phc, used for analytics

# instance for BullMQ meme generation and scheduled cleanup jobs
REDIS_HOST= # redis
REDIS_PORT= # 6379

# instance for context/images cache with keyv
REDIS_CACHE_HOST= # redis-cache
REDIS_CACHE_PORT= # 6379

WHISPER_API_KEY= # leave empty
WHISPER_MODEL= # small (1.5 GB RAM) works good, base (700 MB RAM) can be used for less RAM usage